 /*!
 * Name: Frontend Coding Standards and Best Practices
 * Author: Isobar North America - iDev Team
 */

/* COLORS
 * --------------------------
 * color name: #hex value

	darkblue: 	#036
	blue: 		#06c
	greenish:	#066
	darkorange: #f30 

 * --------------------------
 */


/**
 * HTML5 ? Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font: 13px/1.231 Helvetica, Arial, MS Trebuchet, sans-serif; *font-size: small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font: 99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style: none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; }

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   { }
input:invalid, textarea:invalid {
	-ms-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;

	-moz-box-shadow: 0 0 5px red;
	-webkit-box-shadow: 0 0 5px red;
	-o-box-shadow: 0 0 5px red;
	box-shadow: 0 0 5px red;
}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color: #fff; text-shadow: none; }
::selection { background: #FF5E99; color: #fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FC861E; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button { width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/* clearfix */
.clearfix:before, .clearfix:after {
	content: "\0020"; display: block; height: 0; visibility: hidden;
}
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

/**
 * You might tweak these..
 */

/* New bulletproof @font-face by fontspring:
   http://www.fontspring.com/blog/further-hardening-of-the-bulletproof-syntax/ */
@font-face {
    font-family: 'Alexandria';
    src: url('fonts/alexandriaflf-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/alexandriaflf-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/alexandriaflf-webfont.woff') format('woff'), /* Modern Browsers */
         url('fonts/alexandriaflf-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/alexandriaflf-webfont.svg#Alexandria') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AlexandriaBold';
    src: url('fonts/alexandriaflf-bold-webfont.eot');
    src: url('fonts/alexandriaflf-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/alexandriaflf-bold-webfont.woff') format('woff'),
         url('fonts/alexandriaflf-bold-webfont.ttf') format('truetype'),
         url('fonts/alexandriaflf-bold-webfont.svg#AlexandriaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif; */
  /* if using @font-face: */
  /* font-family: MyFontFamily, Arial, serif;*/
  font-family: Calibri, Helvetica, Trebuchet MS, Arial, sans-serif;
  font-size: 16px;
}


/**
 * Primary styles
 *
 * Author: ISOBAR
----------------------------------------------------------------------------------------------------*/

body {
	background: #fff url('img/bg-body.gif') repeat-x; 
	color: #000;
	min-width: 960px;
}
 
 /**
 * Beginning of page styling separate from the base styles of
 * the html5 boilerplate
 */
 
/*
	#036 - dark blue
	#06c - blue
	#066 - greenish
	#F30 - orange
	#444 - dark gray
	#dcdcdc - light gray
	
*/

/* `Topper + Header (who called it a topper in old version? lol)
----------------------------------------------------------------------------------------------------*/

body .fork { 
	background: url('img/fork-me.png') no-repeat -15px top;
	position: fixed; 
	top: 0; 
	right: -15px; 
	z-index: 2; 
	width: 149px; 
	height: 149px; 
}

header { 
	border-bottom: 3px solid #eee;
	height: 60px;
	width: 100%;
	position: relative;
}

header a { 
	width: 137px;
	height: 39px;
	display: inline-block;
}

header h1 {
    background: url('img/isobar.png') no-repeat 0 0;
	position: absolute;
	top: 60px;
	width: 137px;
	padding: 0;
	height: 40px;
}

header canvas {
	position: absolute;
	visibility: hidden;
	padding: 0;
	top: -40px;
}

header h1 a {
    display: block;
    height: 70px;
    position: absolute;
    text-indent: -9999em;
    width: 226px;
}
header h1 a { 
    position: absolute;
	text-indent: -9999em;
    height: 70px;
    width: 226px;
	display: block;
}

#flags {
	margin: 25px 0 0;
	height: 25px;
	list-style: none;
	display: inline-block;
}
#flags li {
	display: inline-block;
	width: 25px;
	position: relative;
}
#flags li a {
	cursor: pointer;
}
#flags lihover {
	-moz-opacity: 0.8;
	-ms-filter: "alpha(opacity=80)";
    filter: alpha(opacity=80);
	opacity: 0.8;
}
#social {
    background: rgba(64, 64, 64, 0.9);
    float: right;
    margin-bottom: 0;
    padding: 7px;
    position: absolute;
    right: 0;
    top: 1px;
    width: 304px;
    z-index: 1;
}

#social li {
    display: inline-block;
    height: 35px;
    margin-left: 6px;
    vertical-align: top;
}

#social li a { 
	background: url('img/sprite-social.png') no-repeat 0 0;
	width: 35px; 
}

#social #facebook { background-position: -5px -5px; }
#social #facebook:hover { background-position: -5px -47px; }

#social #twitter { background-position: -46px -5px; }
#social #twitter:hover { background-position: -46px -47px; }

#social #delicious { background-position: -88px -5px; }
#social #delicious:hover { background-position: -88px -47px; }

#social #linkback { 
	color: #ccc; 
	font-family: Georgia, serif; 
	font-size: 12px; 
	font-style: italic; 
	text-decoration: none; 
	text-align: center; 
	width: 60px; 
	height: 15px; 
	background: none;
}

#social #linkback:hover { color: #dcdcdc; }

/* Logo + Container + Main + Section + Aside 
----------------------------------------------------------------------------------------------------*/

#container { 
	width: 960px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

#main {
	border-right: 1px #dcdcdc solid;
	display: inline-block;
	float: left;
	overflow: hidden;
	padding: 50px 29px 60px 0;
	width: 610px;
}

#side {
	display: inline-block;
	float: left;
	font-size: 13px;	
	padding: 0;
	width: 300px;
	position: relative;
}

#main > section {
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 20px;
}

#main > section { padding-bottom: 20px; }

#main > section:last-child,
#container > aside:last-child {
	border-bottom: none;
}

#authors, 
#team,
#revisions {
	display: inline-block;
}
#authors, 
#team {
	width: 50%;
	height: 250px;
	float: left;
}

.intro {
	border-bottom: 1px #dcdcdc solid;
	margin-bottom: 20px;
}

.intro { 
	min-height: 120px;
}

.intro .icon {
	border-radius: 100px; 
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-o-border-radius: 100px;
	height: 100px;
	width: 100px;
	background: #f30;
	float: left;
	display: inline;
	margin: 0 20px 20px 0;
}

.intro h1, .intro h2,
.intro p, .intro ol { margin-left: 10px; }
.intro ol, .intro ul { list-style-position: inside; }


/* Shoes + Footer
----------------------------------------------------------------------------------------------------*/

footer {
	background: #3d3d3d;
	color: #fff;
	font-size: 11px;
	margin: 0;
	overflow: hidden;
	line-height: 35px;
	width: 100%;
}

footer p {
	width: 960px;
	margin: 0 auto;
	padding: 5px 0;
}

footer a { color: #cdcdcd; }
footer a:hover { color: #f30; }

figure {
	background: #fff;
	border: 2px solid;
	border-color: #ddd #999 #666;
	display: block;
	margin: 10px 2px;
	padding: 1px;
	text-align: center;

	-moz-box-shadow: 0 1px 3px 0 #ccc;
	-webkit-box-shadow: 0 1px 3px 0 #ccc ;
	-o-box-shadow: 0 1px 3px 0 #ccc;
	box-shadow: 0 1px 3px 0 #ccc;
}

figure.extra { margin-top: 10px; }

figcaption {
	font-size: 10px;
	font-style: italic;
	text-align: left;
}

p { margin: 0 0 10px 0; }

p, ol, ul {
	font-size: 14px;
	line-height: 20px;
}

abbr { border-bottom: 1px dotted; }

a { color: #f30; }
a:hover { color: #333; }

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 10px;
}

p.indent { margin: -10px 0 5px 0; }


/* `Headings
----------------------------------------------------------------------------------------------------*/

/* Headers (h1, h2, etc) have no default font-size or margin;define those yourself */
h1, h2, h3, h4, h5, h6 { 
	color: #f30;
	position: relative;
	margin-top: 20px;
}

h3, h4, h5, h6 { font-weight: normal; }

h1 {
	color: #000;
	font-size: 34px;	
	font-weight: 700;
	font-family: Calibri, AlexandriaBold, Arial, Helvetica, sans-serif;
	line-height: 1.1em;
	margin-bottom: 14px;
}
h2 {
	color: #000;
	font-size: 24px;
	margin-bottom: 12px;
}
h3 {
	font-size: 22px;
	margin-bottom: 11px;
}
h4 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	font-weight: 400;
	color: #555;
	margin-bottom: 8px;
}
h6, figure.preCode {
	background: #eeeee0;
	color: #333;
	font-size: 14px;
	margin-bottom: 0;
	padding: 5px 10px;
}

figure.preCode {
	border: none;
	display: block;
	margin: 8px 0 0 0;
	text-align: inherit;

	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

textarea[class~="brush:js"], textarea[class~="brush:css"], 
textarea[class~="brush:php"], textarea[class~="brush:html"], 
textarea[class~="brush:csharp"] {
	display: none;
}

p code, li code, table code {
    background: #FF9;
    font-family: Courier New, Courier, monospace;
    font-size: 12px;
}


/* `Tabs
----------------------------------------------------------------------------------------------------*/

#criteria_options {
	list-style: none;
	overflow: hidden;
}

#criteria_options li {
	float: left;
	margin: 0;
}

#criteria_options a {
	display: block;
	font-weight: bold;
	outline: 0;
	padding: 5px 15px;

	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-ms-border-radius: 20px;
	border-radius: 20px;
}

#criteria_options a:hover {
	background: #eeeee0;
	color: #000;
	text-decoration: none;
}

#criteria_options a.current {
	background: #069;
	color: #fff;
	text-decoration: none;
}

/* Alignments
----------------------------------------------------------------------------------------------------*/

.align_right { text-align: right; }
.float_left { float: left; }
.float_right { float: right; }

.normalize { margin-bottom: 5px; }

dl { margin-left: 15px; }
dt { font-weight: bold; }
dt:after { content: ':'; }
dd { margin-bottom: 10px; }


/* Thanks for the icon! http://p.yusukekamiyamane.com/ */
a[href^="https://wiki"], a[href^="http://repo"], a[href^="https://fusion"] { background:  url(data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%0A%00%00%00%0A%08%06%00%00%00%8D2%CF%BD%00%00%00%A2IDAT%18%D3%7D%8C%A1%0E%C20%18%84%EF-x%0A%DEaOS%3B%89%22%A9Ba%90%0D%8E%A0%A6%96L%A1*%B0%0Bn%A0%96%60%B08%F4%F1_%C7%B2%84%26m%F2%25%97%FF%BE%1EHB%84%10*%83%7FTs%8F9x%EFiD%BF%3Cef%A2s%8E%867%F0Cy%11%C7%06%F1%D9%AD%D8l%40%CB%7C%0FuBY7ur%F08%EB%C3XD%0E%F4%EB%B2%03o%C7i%91%9F6%A1%AC%9B%3A9%B8%1E%AC%7C%D5E%E4%E4%8B%F7u%22%5Bl%B7V%F6e%E4h1v%1E%8C%7B%B0%0F%E0p%9AP%D6M%9D%9C%2F%FD%7C%0A%E2k%80%16%89%00%00%00%00IEND%AEB%60%82) no-repeat 0 3px; padding-left: 13px; }


/* Table of Contents
----------------------------------------------------------------------------------------------------*/

#side .toc-title {
	border-bottom: 1px solid gainsboro;
	border-top: 10px solid #FF3300;
	font-family: 'Calibri','AlexandriaBold';
	font-size: 30px;
	padding: 15px 0 6px 20px;
	position: fixed;
	top: 30px; /* -20px; */
	width: 300px;
	z-index: 0;
}

#toc {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 125px;
	width: 290px;
}

#toc li {
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
	width: 100%;
}

#toc li a {
    color: #3D3D3D;
    display: block;
    text-decoration: none;
}
#toc li a:hover {
	background: #f30;
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
	cursor: pointer;
}

#toc .h1 {
    background: #eee;
    color: #333;
    font-size: 18px;
    list-style-type: none;
    width: 320px;
}
#toc .h1 a { padding: 2px 0 2px 20px; }

#toc .h2 {
	list-style: none;
	font-size: 16px;
    width: 320px;
/*	display: none; */
}
#toc .h2 a { padding: 0 0 0 30px; }

#toc .h3 {
	margin-left: 10px;
	display: none;
}

#toc .h4 {
	margin-left: 25px;
	display: none;
}

#toc .h5 {
	margin-left: 35px;
	display: none;
}

.anchor_link {
    color: rgba(137, 137, 137, 0.4);
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    z-index: 100;
    position: relative;
    top: 0;
	/* float: right; */
}

.backAnchor, .backAnchor a {
    display: inline-block;
	color: #999;
    font-size: 12px;
    margin: 0;
	padding: 3px 4px;
    position: absolute;
    text-decoration: none;
    right: 5px;
    top: -25px;
}

.no-anchor .backAnchor { display: none; }


/* `Info Table
----------------------------------------------------------------------------------------------------*/

table.info {
	margin-bottom: 10px;
	width: 100%;
}

table.info th, table.info td { padding: 0 0 10px; }

table.info th {
	color: #693;
	font-size: 10px;
	font-weight: bold;
	line-height: 1;
	padding-top: 6px;
	padding-right: 15px;
	text-align: right;
	text-transform: uppercase;
	white-space: nowrap;
	width: 1%;
}


/* `Syntax Highlighter Overrides
----------------------------------------------------------------------------------------------------*/

html body div.syntaxhighlighter {
	border: 1px solid #fff !important;
	box-shadow: #666 0 1px 3px !important;
	-moz-box-shadow: #666 0 1px 3px !important;
	-webkit-box-shadow: #666 0 1px 3px !important;
	font-size: 11px !important;
	margin: -1px -1px 20px !important;
	padding: 5px 0 !important;
}

html body div.syntaxhighlighter div.line span.content span.block {
	background-image: none !important;
}

html body div.syntaxhighlighter * {
	line-height: 1.5 !important;
}


#_code_standards .backAnchor { display: none; }



/** END OF CODE STANDARDS STYLES 
 *
 *
 **********************************/



/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }




/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */
}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */
}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none;-ms-text-size-adjust:none;} */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }

body { width: 80%; font-family: Calibri, Arial, Helvetica, sans-serif; }
header { width: 100%; }

header #logo { background: url("img/isobar.png") no-repeat 0 0; }

h1, h2, h3, h4, h5, h6 { }

h1, h2, h3 {
	color: #f30;
	position: relative;
	margin-top: 20px;
	font-weight: 200;
}

h1 { padding: 0; margin: 0; color: rgb(0, 5, 10); }
header h1 a { font-size: 48px; }
 
a, a:visited { text-decoration: none; color: #FF3300; }

body .fork, #side, header #social, canvas, .anchor_link, .backAnchor { visibility: hidden; }


.syntaxhighlighter { background: #ccc; }
}


/**
 * Syntax Highlighter
 */

.syntaxhighlighter,.syntaxhighlighter div,.syntaxhighlighter code,.syntaxhighlighter span{margin:0 !important;padding:0 !important;border:0 !important;outline:0 !important;background:none !important;text-align:left !important;float:none !important;vertical-align:baseline !important;position:static !important;left:auto !important;top:auto !important;right:auto !important;bottom:auto !important;height:auto !important;width:auto !important;line-height:1.1em !important;font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important;font-weight:normal !important;font-style:normal !important;font-size:1em !important}.syntaxhighlighter{width:100% !important;margin:1em 0 1em 0 !important;padding:1px !important;position:relative !important}.syntaxhighlighter code{display:inline !important}.syntaxhighlighter .bold{font-weight:bold !important}.syntaxhighlighter .italic{font-style:italic !important}.syntaxhighlighter .line .number{float:left !important;width:3em !important;padding-right:.3em !important;text-align:right !important;display:block !important}.syntaxhighlighter.nogutter .line .number{display:none !important}.syntaxhighlighter .line .content{margin-left:3.3em !important;padding-left:.5em !important;display:block !important}.syntaxhighlighter .line .content .block{display:block !important;padding-left:1.5em !important;text-indent:-1.5em !important}.syntaxhighlighter .line .content .spaces{display:none !important}.syntaxhighlighter.nogutter .line .content{margin-left:0 !important;border-left:none !important}.syntaxhighlighter .bar{display:none !important}.syntaxhighlighter .bar.show {display:block !important}.syntaxhighlighter.collapsed .bar{display:block !important}.syntaxhighlighter.nogutter .ruler{margin-left:0 !important;padding-left:0 !important}.syntaxhighlighter .ruler{padding:0 0 .5em .5em !important;margin-left:3.3em !important;overflow:hidden !important}.syntaxhighlighter.collapsed .lines,.syntaxhighlighter.collapsed .ruler{display:none !important}.syntaxhighlighter .lines.no-wrap{overflow:auto;overflow-y:hidden}.syntaxhighlighter .toolbar{position:absolute !important;right:0px !important;top:0px !important;font-size:1px !important;padding:8px 8px 8px 0 !important}.syntaxhighlighter.collapsed .toolbar{font-size:80% !important;padding:.2em 0 .5em .5em !important;position:static !important}.syntaxhighlighter .toolbar a.item,.syntaxhighlighter .toolbar .item{display:block !important;float:left !important;margin-left:8px !important;background-repeat:no-repeat !important;overflow:hidden !important;text-indent:-5000px !important}.syntaxhighlighter.collapsed .toolbar .item{display:none !important}.syntaxhighlighter.collapsed .toolbar .item.expandSource{background-image:url(magnifier.png) !important;display:inline !important;text-indent:0 !important;width:auto !important;float:none !important;height:16px !important;padding-left:20px !important}.syntaxhighlighter .toolbar .item.viewSource{background-image:url(page_white_code.png) !important}.syntaxhighlighter .toolbar .item.printSource{background-image:url(printer.png) !important}.syntaxhighlighter .toolbar .item.copyToClipboard{text-indent:0 !important;background:none !important;overflow:visible !important}.syntaxhighlighter .toolbar .item.about{background-image:url(help.png) !important}.syntaxhighlighter.printing,.syntaxhighlighter.printing .line.alt1 .content,.syntaxhighlighter.printing .line.alt2 .content,.syntaxhighlighter.printing .line.highlighted .number,.syntaxhighlighter.printing .line.highlighted.alt1 .content,.syntaxhighlighter.printing .line.highlighted.alt2 .content,.syntaxhighlighter.printing .line .content .block{background:none !important}.syntaxhighlighter .no-wrap .line .content .block{white-space:nowrap !important}.syntaxhighlighter.printing .line .number{color:#bbb !important}.syntaxhighlighter.printing .line .content{color:#000 !important}.syntaxhighlighter.printing .toolbar,.syntaxhighlighter.printing .ruler{display:none !important}.syntaxhighlighter.printing a{text-decoration:none !important}.syntaxhighlighter.printing .plain,.syntaxhighlighter.printing .plain a{color:#000 !important}.syntaxhighlighter.printing .comments,.syntaxhighlighter.printing .comments a{color:#008200 !important}.syntaxhighlighter.printing .string,.syntaxhighlighter.printing .string a{color:blue !important}.syntaxhighlighter.printing .keyword{color:#069 !important;font-weight:bold !important}.syntaxhighlighter.printing .preprocessor {color:gray !important}.syntaxhighlighter.printing .variable {color:#a70 !important}.syntaxhighlighter.printing .value{color:#090 !important}.syntaxhighlighter.printing .functions{color:#ff1493 !important}.syntaxhighlighter.printing .constants{color:#06C !important}.syntaxhighlighter.printing .script{font-weight:bold !important}.syntaxhighlighter.printing .color1,.syntaxhighlighter.printing .color1 a{color:#808080 !important}.syntaxhighlighter.printing .color2,.syntaxhighlighter.printing .color2 a{color:#ff1493 !important}.syntaxhighlighter.printing .color3,.syntaxhighlighter.printing .color3 a{color:red !important}.syntaxhighlighter{background-color:#1B2426 !important}.syntaxhighlighter .line .number{color:#B9BDB6 !important}.syntaxhighlighter .line .content{border-left:3px solid #435A5F !important;color:#B9BDB6 !important}.syntaxhighlighter.printing .line .content {border:0 !important}.syntaxhighlighter .line.alt1 .content{background-color:#1B2426 !important}.syntaxhighlighter .line.alt2 .content{background-color:#1B2426 !important}.syntaxhighlighter .line .content .block{ /* background:url(wrapping.png) 0 1.1em no-repeat !important */}.syntaxhighlighter .line.highlighted .number{background-color:#435A5F !important;color:#fff !important}.syntaxhighlighter .line.highlighted.alt1 .content,.syntaxhighlighter .line.highlighted.alt2 .content{background-color:#435A5F !important}.syntaxhighlighter .ruler{color:silver !important;background-color:#1B2426 !important;border-left:3px solid #435A5F !important}.syntaxhighlighter.nogutter .ruler{border:0 !important}.syntaxhighlighter .toolbar{background-color:#1B2426 !important}.syntaxhighlighter .toolbar a{color:#646763 !important}.syntaxhighlighter .toolbar a:hover{color:#E0E8FF !important}.syntaxhighlighter .plain,.syntaxhighlighter .plain a{color:#B9BDB6 !important}.syntaxhighlighter .comments,.syntaxhighlighter .comments a{color:#878A85 !important}.syntaxhighlighter .string,.syntaxhighlighter .string a{color:#5CE638 !important}.syntaxhighlighter .keyword{color:#5BA1CF !important}.syntaxhighlighter .preprocessor {color:#435A5F !important}.syntaxhighlighter .variable {color:#FFAA3E !important}.syntaxhighlighter .value{color:#090 !important}.syntaxhighlighter .functions{color:#FFAA3E !important}.syntaxhighlighter .constants{color:#E0E8FF !important}.syntaxhighlighter .script{background-color:#435A5F !important}.syntaxhighlighter .color1,.syntaxhighlighter .color1 a{color:#E0E8FF !important}.syntaxhighlighter .color2,.syntaxhighlighter .color2 a{color:#FFF !important}.syntaxhighlighter .color3,.syntaxhighlighter .color3 a{color:#FFAA3E !important}




   /* 
   |\      _,,,---,,__
   /,`.-'`'     -.  ;-;;,_/|
  |,4-  ) ) -,_..;\ (  `'-'
 '---''(_/--'  `-'\_)  
----------------------------*/