/* line 1, ../../scss/print.scss */
body {
  width: 80%;
  font-family: Calibri,Arial,Helvetica,sans-serif;
}

/* line 2, ../../scss/print.scss */
header {
  width: 100%;
}

/* line 3, ../../scss/print.scss */
header #logo {
  background: url("../img/isobar.png") no-repeat 0 0;
}

/* line 4, ../../scss/print.scss */
h1, h2, h3 {
  color: #f30;
  position: relative;
  margin-top: 20px;
  font-weight: 200;
}

/* line 5, ../../scss/print.scss */
h1 {
  padding: 0;
  margin: 0;
  color: #00050a;
}

/* line 6, ../../scss/print.scss */
header h1 a {
  font-size: 48px;
}

/* line 6, ../../scss/print.scss */
a, a:visited {
  text-decoration: none;
  color: #f30;
}

/* line 7, ../../scss/print.scss */
body .fork, #side, header #social, canvas, .anchor_link, .backAnchor {
  visibility: hidden;
}

/* line 8, ../../scss/print.scss */
.syntaxhighlighter {
  background: #ccc;
}
