/*
 	ISOBAR COLORS
	--------------------
	#036 - dark blue
	#06c - blue
	#066 - greenish
	#F30 - orange
	#444 - dark gray
	#dcdcdc - light gray
	
*/
/*
 	ISOBAR COLORS
	--------------------
	#036 - dark blue
	#06c - blue
	#066 - greenish
	#F30 - orange
	#444 - dark gray
	#dcdcdc - light gray
	
*/
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
/* line 16, ../../scss/global/_base.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 26, ../../scss/global/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../../scss/global/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 33, ../../scss/global/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 35, ../../scss/global/_base.scss */
ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 37, ../../scss/global/_base.scss */
mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 39, ../../scss/global/_base.scss */
del {
  text-decoration: line-through;
}

/* line 41, ../../scss/global/_base.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 43, ../../scss/global/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 45, ../../scss/global/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 47, ../../scss/global/_base.scss */
input, select {
  vertical-align: middle;
}

/**
 * Minimal base styles.
 */
/* Always force a scrollbar in non-IE */
/* line 55, ../../scss/global/_base.scss */
html {
  overflow-y: scroll;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 58, ../../scss/global/_base.scss */
a:hover, a:active {
  outline: none;
}

/* line 60, ../../scss/global/_base.scss */
ul, ol {
  margin-left: 2em;
}

/* line 61, ../../scss/global/_base.scss */
ol {
  list-style-type: decimal;
}

/* Remove margins for navigation lists */
/* line 64, ../../scss/global/_base.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 66, ../../scss/global/_base.scss */
td {
  vertical-align: top;
}

/* line 68, ../../scss/global/_base.scss */
textarea {
  overflow: auto;
}

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
/* line 71, ../../scss/global/_base.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 72, ../../scss/global/_base.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* Hand cursor on clickable input elements */
/* line 75, ../../scss/global/_base.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 78, ../../scss/global/_base.scss */
button, input, select, textarea {
  margin: 0;
}

/* Colors for form validity */
/* line 82, ../../scss/global/_base.scss */
input:invalid, textarea:invalid {
  -ms-border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px red;
  -webkit-box-shadow: 0 0 5px red;
  -o-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
}

/* line 95, ../../scss/global/_base.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* line 101, ../../scss/global/_base.scss */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 102, ../../scss/global/_base.scss */
::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* j.mp/webkit-tap-highlight-color */
/* line 105, ../../scss/global/_base.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
/* line 109, ../../scss/global/_base.scss */
button {
  width: auto;
  overflow: visible;
}

/**
----------------------------------------------------------------------------------------------------
 * Primary styles
 *
 * Author: ISOBAR
----------------------------------------------------------------------------------------------------*/
/* line 120, ../../scss/global/_base.scss */
body {
  background: white url("../../img/layout/bg-body.gif") repeat-x;
  color: #000;
  min-width: 960px;
}

/* line 126, ../../scss/global/_base.scss */
figure {
  background: #fff;
  border: 3px solid;
  border-color: #ddd #999 #666;
  display: block;
  margin: -15px -2px 10px;
  padding: 1px;
  text-align: center;
  box-shadow: #ccc 0 1px 3px;
  -moz-box-shadow: #ccc 0 1px 3px;
  -webkit-box-shadow: #ccc 0 1px 3px;
  -o-box-shadow: #ccc 0 1px 3px;
}

/* line 141, ../../scss/global/_base.scss */
figure.extra {
  margin-top: 10px;
}

/* line 143, ../../scss/global/_base.scss */
figcaption {
  font-size: 10px;
  font-style: italic;
  text-align: left;
}

/* line 149, ../../scss/global/_base.scss */
abbr {
  border-bottom: 1px dotted;
}

/* line 151, ../../scss/global/_base.scss */
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 10px;
}

/* line 156, ../../scss/global/_base.scss */
p.indent {
  margin: -10px 0 5px 0;
}

/* line 158, ../../scss/global/_base.scss */
dl {
  margin-left: 15px;
}

/* line 159, ../../scss/global/_base.scss */
dt {
  font-weight: bold;
}

/* line 160, ../../scss/global/_base.scss */
dt:after {
  content: ':';
}

/* line 161, ../../scss/global/_base.scss */
dd {
  margin-bottom: 10px;
}

/* line 163, ../../scss/global/_base.scss */
dd {
  margin-bottom: 10px;
}

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
/* line 5, ../../scss/global/_typography.scss */
body {
  font: 13px/1.231 Helvetica, Arial, MS Trebuchet, sans-serif;
  *font-size: small;
}

/* Hack retained to preserve specificity */
/* line 6, ../../scss/global/_typography.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
/* line 10, ../../scss/global/_typography.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 12, ../../scss/global/_typography.scss */
small {
  font-size: 85%;
}

/* line 13, ../../scss/global/_typography.scss */
strong, th {
  font-weight: bold;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
/* line 16, ../../scss/global/_typography.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 17, ../../scss/global/_typography.scss */
sup {
  top: -0.5em;
}

/* line 18, ../../scss/global/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 20, ../../scss/global/_typography.scss */
pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 26, ../../scss/global/_typography.scss */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif; */
  /* if using @font-face: */
  /* font-family: MyFontFamily, Arial, serif;*/
  font-family: Calibri, Helvetica, Trebuchet MS, Arial, sans-serif;
  font-size: 16px;
}

/* line 38, ../../scss/global/_typography.scss */
p {
  margin: 0 0 10px 0;
}

/* line 42, ../../scss/global/_typography.scss */
p, ol, ul {
  font-size: 14px;
  line-height: 20px;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/
/* Headers (h1, h2, etc) have no default font-size or margin;define those yourself */
/* line 52, ../../scss/global/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  /* color:#f30; */
  color: #F74902;
  position: relative;
  margin-top: 20px;
}

/* line 59, ../../scss/global/_typography.scss */
h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 61, ../../scss/global/_typography.scss */
h1 {
  color: #000;
  font-size: 34px;
  font-weight: 700;
  font-family: Calibri, AlexandriaBold, Arial, Helvetica, sans-serif;
  line-height: 1.1em;
  margin-bottom: 14px;
}

/* line 70, ../../scss/global/_typography.scss */
h2 {
  color: #000;
  font-size: 24px;
  margin-bottom: 12px;
}

/* line 76, ../../scss/global/_typography.scss */
h3 {
  font-size: 22px;
  margin-bottom: 11px;
}

/* line 81, ../../scss/global/_typography.scss */
h4 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  color: #555;
  margin-bottom: 8px;
}

/* line 90, ../../scss/global/_typography.scss */
h6, figure.preCode {
  background: #eeeee0;
  color: #333;
  font-size: 14px;
  margin-bottom: 0;
  padding: 5px 10px;
}

/* line 98, ../../scss/global/_typography.scss */
figure.preCode {
  border: none;
  display: block;
  margin: 8px 0 0 0;
  text-align: inherit;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

/* line 110, ../../scss/global/_typography.scss */
p code, li code, table code {
  background: #FF9;
  font-family: Courier New, Courier, monospace;
  font-size: 12px;
}

/* line 2, ../../scss/global/_links.scss */
a {
  color: #f30;
  /* #09f */
}

/* line 4, ../../scss/global/_links.scss */
a:hover {
  color: #333;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 7, ../../scss/global/_links.scss */
a:hover, a:active {
  outline: none;
}

/* Thanks for the icon! http://p.yusukekamiyamane.com/ */
/* line 9, ../../scss/global/_links.scss */
a[href^="https://wiki"], a[href^="http://repo"], a[href^="https://fusion"] {
  background: url(data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%0A%00%00%00%0A%08%06%00%00%00%8D2%CF%BD%00%00%00%A2IDAT%18%D3%7D%8C%A1%0E%C20%18%84%EF-x%0A%DEaOS%3B%89%22%A9Ba%90%0D%8E%A0%A6%96L%A1*%B0%0Bn%A0%96%60%B08%F4%F1_%C7%B2%84%26m%F2%25%97%FF%BE%1EHB%84%10*%83%7FTs%8F9x%EFiD%BF%3Cef%A2s%8E%867%F0Cy%11%C7%06%F1%D9%AD%D8l%40%CB%7C%0FuBY7ur%F08%EB%C3XD%0E%F4%EB%B2%03o%C7i%91%9F6%A1%AC%9B%3A9%B8%1E%AC%7C%D5E%E4%E4%8B%F7u%22%5Bl%B7V%F6e%E4h1v%1E%8C%7B%B0%0F%E0p%9AP%D6M%9D%9C%2F%FD%7C%0A%E2k%80%16%89%00%00%00%00IEND%AEB%60%82) no-repeat 0 3px;
  padding-left: 13px;
}

/* line 2, ../../scss/global/_ie.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 4, ../../scss/global/_ie.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 5, ../../scss/global/_ie.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
/* line 8, ../../scss/global/_ie.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* Logo + Container + Main + Section + Aside 
----------------------------------------------------------------------------------------------------*/
/* line 5, ../../scss/global/_layout.scss */
#container {
  width: 960px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* line 12, ../../scss/global/_layout.scss */
#main {
  border-right: 1px #dcdcdc solid;
  display: inline;
  float: left;
  overflow: hidden;
  padding: 50px 29px 60px 0;
  width: 610px;
}

/* line 21, ../../scss/global/_layout.scss */
#side {
  display: inline;
  float: left;
  font-size: 13px;
  padding: 0;
  width: 300px;
  position: relative;
}

/* line 30, ../../scss/global/_layout.scss */
#main > section {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 20px;
}

/* line 35, ../../scss/global/_layout.scss */
#main > section {
  padding-bottom: 20px;
}

/* line 37, ../../scss/global/_layout.scss */
#main > section:last-child, #container > aside:last-child {
  border-bottom: none;
}

/* line 41, ../../scss/global/_layout.scss */
#main > section article {
  border-bottom: 1px #dcdcdc solid;
  margin-bottom: 20px;
}

/* Shoes + Footer
----------------------------------------------------------------------------------------------------*/
/* line 5, ../../scss/global/_footer.scss */
footer {
  background: #3d3d3d;
  color: #fff;
  font-size: 11px;
  margin: 0;
  overflow: hidden;
  line-height: 35px;
  width: 100%;
}

/* line 15, ../../scss/global/_footer.scss */
footer p {
  width: 960px;
  margin: 0 auto;
  padding: 5px 0;
}

/* `Topper + Header (who called it a topper in old version? lol)
----------------------------------------------------------------------------------------------------*/
/* line 5, ../../scss/global/_header.scss */
body .fork {
  position: fixed;
  top: 0;
  right: -15px;
  z-index: 2;
  width: 149px;
  height: 149px;
  background: url(../../img/fork-me.png) no-repeat -15px top;
}

/* line 15, ../../scss/global/_header.scss */
header {
  height: 60px;
  width: 100%;
  position: relative;
  border-bottom: 3px solid #eee;
}

/* line 22, ../../scss/global/_header.scss */
header a {
  width: 137px;
  height: 39px;
  display: inline-block;
}

/* line 28, ../../scss/global/_header.scss */
header h1 {
  position: absolute;
  top: 60px;
  width: 137px;
  padding: 0;
  height: 40px;
}

/* line 36, ../../scss/global/_header.scss */
header canvas {
  position: absolute;
  visibility: hidden;
  padding: 0;
  top: -40px;
}

/* line 43, ../../scss/global/_header.scss */
header h1 a {
  background: url("../../img/orange.svg") no-repeat 0 0;
  background-size: auto 100%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  display: block;
}

/* line 52, ../../scss/global/_header.scss */
header #social {
  /* background:rgba(64,64,64,0.9); */
  float: right;
  margin-bottom: 0;
  padding: 7px;
  position: absolute;
  right: 0;
  top: 1px;
  width: 304px;
  z-index: 1;
}

/* line 64, ../../scss/global/_header.scss */
header #social li {
  display: inline-block;
  height: 35px;
  margin-left: 6px;
  vertical-align: top;
}

/* line 71, ../../scss/global/_header.scss */
header #social li a {
  width: 35px;
  background: url("../../img/layout/sprite-social.png") no-repeat 0 0;
}

/* line 76, ../../scss/global/_header.scss */
header #social #facebook {
  background-position: -5px -5px;
}

/* line 77, ../../scss/global/_header.scss */
header #social #facebook:hover {
  background-position: -5px -47px;
}

/* line 79, ../../scss/global/_header.scss */
header #social #twitter {
  background-position: -46px -5px;
}

/* line 80, ../../scss/global/_header.scss */
header #social #twitter:hover {
  background-position: -46px -47px;
}

/* line 82, ../../scss/global/_header.scss */
header #social #delicious {
  background-position: -88px -5px;
}

/* line 83, ../../scss/global/_header.scss */
header #social #delicious:hover {
  background-position: -88px -47px;
}

/* line 85, ../../scss/global/_header.scss */
header #social #linkback {
  color: #ccc;
  font-family: Georgia, serif;
  font-size: 12px;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  width: 110px;
  height: 15px;
  background: none;
}

/* line 97, ../../scss/global/_header.scss */
header #social #linkback:hover {
  color: #dcdcdc;
}

/* Alignments
----------------------------------------------------------------------------------------------------*/
/* line 5, ../../scss/global/_alignments.scss */
.align_right {
  text-align: right;
}

/* line 6, ../../scss/global/_alignments.scss */
.float_left {
  float: left;
}

/* line 7, ../../scss/global/_alignments.scss */
.float_right {
  float: right;
}

/* line 9, ../../scss/global/_alignments.scss */
.box, .box_notice {
  background: #f6f6f6;
  border: 1px solid;
  border-color: #ddd #ccc #999;
  box-shadow: #ccc 0 1px 3px;
  -moz-box-shadow: #ccc 0 1px 3px;
  -webkit-box-shadow: #ccc 0 1px 3px;
  margin: 0 0 20px;
  padding: 20px 20px 0.01em;
}

/* line 20, ../../scss/global/_alignments.scss */
.box_notice {
  background: #ffd;
}

/* line 22, ../../scss/global/_alignments.scss */
.box_title {
  background: #777;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin: -19px -19px 20px;
  padding: 5px 10px;
  text-shadow: #000 0 1px 1px;
}

/* line 33, ../../scss/global/_alignments.scss */
.normalize {
  margin-bottom: 5px;
}

/* line 1, ../../scss/global/_intro.scss */
.intro {
  min-height: 120px;
  border-bottom: 1px #dcdcdc solid;
  margin-bottom: 20px;
}

/* line 7, ../../scss/global/_intro.scss */
.intro .icon {
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  height: 100px;
  width: 100px;
  /* background: #f30; */
  background: #F74902;
  float: left;
  display: inline;
  margin: 0 20px 20px 0;
}

/* line 22, ../../scss/global/_intro.scss */
div.intro h1, div.intro h2,
div.intro p, div.intro ol {
  margin-left: 120px;
}

/* line 24, ../../scss/global/_intro.scss */
div.intro ol, div.intro ul {
  list-style-position: inside;
}

/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */
@media all and (orientation: portrait) {
  /* Style adjustments for portrait mode goes here */
}
@media all and (orientation: landscape) {
  /* Style adjustments for landscape mode goes here */
}
/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none;-ms-text-size-adjust:none;} */
}
/* Table of Contents
----------------------------------------------------------------------------------------------------*/
/* line 5, ../../scss/global/_table_of_contents.scss */
#side .toc-title {
  border-bottom: 1px solid gainsboro;
  /* border-top:10px solid #f30; */
  border-top: 10px solid #F74902;
  font-family: 'Calibri','AlexandriaBold';
  font-size: 30px;
  padding: 15px 0 6px 20px;
  position: fixed;
  top: 30px;
  width: 300px;
  z-index: 0;
}

/* line 18, ../../scss/global/_table_of_contents.scss */
#toc {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 125px;
  width: 300px;
}

/* line 27, ../../scss/global/_table_of_contents.scss */
#toc li {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  width: 100%;
}

/* line 32, ../../scss/global/_table_of_contents.scss */
#toc li a {
  color: #3D3D3D;
  display: block;
  text-decoration: none;
}

/* line 37, ../../scss/global/_table_of_contents.scss */
#toc li a:hover {
  cursor: pointer;
  background: #666666;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

/* line 44, ../../scss/global/_table_of_contents.scss */
#toc .h1 {
  background: #eee;
  color: #333;
  font-size: 18px;
  list-style-type: none;
  width: 320px;
}

/* line 51, ../../scss/global/_table_of_contents.scss */
#toc .h1 a {
  padding: 2px 0 2px 20px;
}

/* line 53, ../../scss/global/_table_of_contents.scss */
#toc .h2 {
  list-style: none;
  font-size: 16px;
  width: 320px;
}

/* line 58, ../../scss/global/_table_of_contents.scss */
#toc .h2 a {
  padding: 0 0 0 30px;
}

/* line 60, ../../scss/global/_table_of_contents.scss */
#toc .h3 {
  margin-left: 10px;
  display: none;
}

/* line 65, ../../scss/global/_table_of_contents.scss */
#toc .h4 {
  margin-left: 25px;
  display: none;
}

/* line 70, ../../scss/global/_table_of_contents.scss */
#toc .h5 {
  margin-left: 35px;
  display: none;
}

/* line 75, ../../scss/global/_table_of_contents.scss */
.anchor_link {
  color: rgba(137, 137, 137, 0.4);
  font-size: 20px;
  font-weight: normal;
  position: relative;
  text-decoration: none;
  top: 0;
  left: 5px;
  z-index: 100;
}

/* line 86, ../../scss/global/_table_of_contents.scss */
.backAnchor, .backAnchor a {
  display: inline-block;
  color: #999;
  font-size: 12px;
  margin: 0;
  padding: 3px 4px;
  position: absolute;
  text-decoration: none;
  right: 5px;
  top: -25px;
}

/* line 98, ../../scss/global/_table_of_contents.scss */
.no-anchor .backAnchor {
  display: none;
}

/* `Tabs
----------------------------------------------------------------------------------------------------*/
/* line 5, ../../scss/global/_tabs.scss */
#criteria_options {
  list-style: none;
  overflow: hidden;
}

/* line 10, ../../scss/global/_tabs.scss */
#criteria_options li {
  float: left;
  margin: 0;
}

/* line 15, ../../scss/global/_tabs.scss */
#criteria_options a {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  display: block;
  font-weight: bold;
  outline: 0;
  padding: 5px 15px;
}

/* line 25, ../../scss/global/_tabs.scss */
#criteria_options a:hover {
  background: #eeeee0;
  color: #000;
  text-decoration: none;
}

/* line 31, ../../scss/global/_tabs.scss */
#criteria_options a.current {
  background: #069;
  color: #fff;
  text-decoration: none;
}

/* line 4, ../../scss/global/_syntaxhighlighter.scss */
textarea[class~="brush:js"], textarea[class~="brush:css"],
textarea[class~="brush:php"], textarea[class~="brush:html"],
textarea[class~="brush:csharp"] {
  display: none;
}

/* `Syntax Highlighter Overrides
----------------------------------------------------------------------------------------------------*/
/* line 12, ../../scss/global/_syntaxhighlighter.scss */
html body div.syntaxhighlighter {
  border: 1px solid #fff !important;
  box-shadow: #666 0 1px 3px !important;
  -moz-box-shadow: #666 0 1px 3px !important;
  -webkit-box-shadow: #666 0 1px 3px !important;
  font-size: 11px !important;
  margin: -1px -1px 20px !important;
  padding: 5px 0 !important;
}

/* line 22, ../../scss/global/_syntaxhighlighter.scss */
html body div.syntaxhighlighter div.line span.content span.block {
  background-image: none !important;
}

/* line 26, ../../scss/global/_syntaxhighlighter.scss */
html body div.syntaxhighlighter * {
  line-height: 1.5 !important;
}

/**
 * Syntax Highlighter
 */
/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter span {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  outline: 0 !important;
  background: none !important;
  text-align: left !important;
  float: none !important;
  vertical-align: baseline !important;
  position: static !important;
  left: auto !important;
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
  height: auto !important;
  width: auto !important;
  line-height: 1.1em !important;
  font-family: "Consolas","Monaco","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 1em !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter {
  width: 100% !important;
  margin: 1em 0 1em 0 !important;
  padding: 1px !important;
  position: relative !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter code {
  display: inline !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .bold {
  font-weight: bold !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .italic {
  font-style: italic !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .line .number {
  float: left !important;
  width: 3em !important;
  padding-right: .3em !important;
  text-align: right !important;
  display: block !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.nogutter .line .number {
  display: none !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .line .content {
  margin-left: 3.3em !important;
  padding-left: .5em !important;
  display: block !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .line .content .block {
  display: block !important;
  padding-left: 1.5em !important;
  text-indent: -1.5em !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .line .content .spaces {
  display: none !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.nogutter .line .content {
  margin-left: 0 !important;
  border-left: none !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .bar {
  display: none !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .bar.show {
  display: block !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.collapsed .bar {
  display: block !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.nogutter .ruler {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .ruler {
  padding: 0 0 .5em .5em !important;
  margin-left: 3.3em !important;
  overflow: hidden !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.collapsed .lines, .syntaxhighlighter.collapsed .ruler {
  display: none !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .lines.no-wrap {
  overflow: auto;
  overflow-y: hidden;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .toolbar {
  position: absolute !important;
  right: 0px !important;
  top: 0px !important;
  font-size: 1px !important;
  padding: 8px 8px 8px 0 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.collapsed .toolbar {
  font-size: 80% !important;
  padding: .2em 0 .5em .5em !important;
  position: static !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .toolbar a.item, .syntaxhighlighter .toolbar .item {
  display: block !important;
  float: left !important;
  margin-left: 8px !important;
  background-repeat: no-repeat !important;
  overflow: hidden !important;
  text-indent: -5000px !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.collapsed .toolbar .item {
  display: none !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.collapsed .toolbar .item.expandSource {
  background-image: url(magnifier.png) !important;
  display: inline !important;
  text-indent: 0 !important;
  width: auto !important;
  float: none !important;
  height: 16px !important;
  padding-left: 20px !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .toolbar .item.viewSource {
  background-image: url(page_white_code.png) !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .toolbar .item.printSource {
  background-image: url(printer.png) !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .toolbar .item.copyToClipboard {
  text-indent: 0 !important;
  background: none !important;
  overflow: visible !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .toolbar .item.about {
  background-image: url(help.png) !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing, .syntaxhighlighter.printing .line.alt1 .content, .syntaxhighlighter.printing .line.alt2 .content, .syntaxhighlighter.printing .line.highlighted .number, .syntaxhighlighter.printing .line.highlighted.alt1 .content, .syntaxhighlighter.printing .line.highlighted.alt2 .content, .syntaxhighlighter.printing .line .content .block {
  background: none !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .no-wrap .line .content .block {
  white-space: nowrap !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .line .number {
  color: #bbb !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .line .content {
  color: #000 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .toolbar, .syntaxhighlighter.printing .ruler {
  display: none !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing a {
  text-decoration: none !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
  color: #000 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
  color: #008200 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
  color: blue !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .keyword {
  color: #069 !important;
  font-weight: bold !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .preprocessor {
  color: gray !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .variable {
  color: #a70 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .value {
  color: #090 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .functions {
  color: #ff1493 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .constants {
  color: #06C !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .script {
  font-weight: bold !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
  color: #808080 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
  color: #ff1493 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
  color: red !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter {
  background-color: #1B2426 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .line .number {
  color: #B9BDB6 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .line .content {
  border-left: 3px solid #435A5F !important;
  color: #B9BDB6 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.printing .line .content {
  border: 0 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .line.alt1 .content {
  background-color: #1B2426 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .line.alt2 .content {
  background-color: #1B2426 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .line .content .block {
  /* background:url(wrapping.png) 0 1.1em no-repeat !important */
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .line.highlighted .number {
  background-color: #435A5F !important;
  color: #fff !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .line.highlighted.alt1 .content, .syntaxhighlighter .line.highlighted.alt2 .content {
  background-color: #435A5F !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .ruler {
  color: silver !important;
  background-color: #1B2426 !important;
  border-left: 3px solid #435A5F !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter.nogutter .ruler {
  border: 0 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .toolbar {
  background-color: #1B2426 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .toolbar a {
  color: #646763 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .toolbar a:hover {
  color: #E0E8FF !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: #B9BDB6 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #878A85 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: #5CE638 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .keyword {
  color: #5BA1CF !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .preprocessor {
  color: #435A5F !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .variable {
  color: #FFAA3E !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .value {
  color: #090 !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .functions {
  color: #FFAA3E !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .constants {
  color: #E0E8FF !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .script {
  background-color: #435A5F !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: #E0E8FF !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: #FFF !important;
}

/* line 34, ../../scss/global/_syntaxhighlighter.scss */
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: #FFAA3E !important;
}

/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  /* line 8, ../../scss/global/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 10, ../../scss/global/_print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 11, ../../scss/global/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 12, ../../scss/global/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 13, ../../scss/global/_print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 14, ../../scss/global/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 15, ../../scss/global/_print.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 16, ../../scss/global/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 18, ../../scss/global/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 19, ../../scss/global/_print.scss */
  h2, h3 {
    page-break-after: avoid;
  }

  /* line 22, ../../scss/global/_print.scss */
  body {
    width: 80%;
    font-family: Calibri, Arial, Helvetica, sans-serif;
  }

  /* line 23, ../../scss/global/_print.scss */
  header {
    width: 100%;
  }

  /* line 25, ../../scss/global/_print.scss */
  header #logo {
    background: url("../../img/logo-roundarchisobar.png") no-repeat 0 0;
  }

  /* line 31, ../../scss/global/_print.scss */
  h1, h2, h3 {
    /* color:#f30; */
    color: #F74902;
    position: relative;
    margin-top: 20px;
    font-weight: 200;
  }

  /* line 39, ../../scss/global/_print.scss */
  h1 {
    padding: 0;
    margin: 0;
    color: #00050a;
  }

  /* line 45, ../../scss/global/_print.scss */
  header h1 a {
    font-size: 48px;
  }

  /* line 49, ../../scss/global/_print.scss */
  a, a:visited {
    text-decoration: none;
    /* color:#f30 */
    color: #f74902;
  }

  /* line 55, ../../scss/global/_print.scss */
  body .fork, #side, header #social, canvas, .anchor_link, .backAnchor {
    visibility: hidden;
  }

  /* line 59, ../../scss/global/_print.scss */
  .syntaxhighlighter {
    background: #cccccc;
  }
}
/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */
@media all and (orientation: portrait) {
  /* Style adjustments for portrait mode goes here */
}
@media all and (orientation: landscape) {
  /* Style adjustments for landscape mode goes here */
}
/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none;-ms-text-size-adjust:none;} */
}
   /* 
   |\      _,,,---,,__
   /,`.-'`'     -.  ;-;;,_/|
  |,4-  ) ) -,_..;\ (  `'-'
 '---''(_/--'  `-'\_)  
----------------------------*/
