/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
/* line 16, ../../scss/global/_base.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 26, ../../scss/global/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../../scss/global/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 33, ../../scss/global/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 35, ../../scss/global/_base.scss */
ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 37, ../../scss/global/_base.scss */
mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 39, ../../scss/global/_base.scss */
del {
  text-decoration: line-through;
}

/* line 41, ../../scss/global/_base.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 43, ../../scss/global/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 45, ../../scss/global/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #f0f0f0;
  margin: 1em 0;
  padding: 0;
}

/* line 47, ../../scss/global/_base.scss */
input, select {
  vertical-align: middle;
}

/**
 * Minimal base styles.
 */
/* Always force a scrollbar in non-IE */
/* line 55, ../../scss/global/_base.scss */
html {
  overflow-y: scroll;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 58, ../../scss/global/_base.scss */
a:hover, a:active {
  outline: none;
}

/* line 60, ../../scss/global/_base.scss */
ul, ol {
  margin-left: 2em;
}

/* line 61, ../../scss/global/_base.scss */
ol {
  list-style-type: decimal;
}

/* Remove margins for navigation lists */
/* line 64, ../../scss/global/_base.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 66, ../../scss/global/_base.scss */
td {
  vertical-align: top;
}

/* line 68, ../../scss/global/_base.scss */
textarea {
  overflow: auto;
}

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
/* line 71, ../../scss/global/_base.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 72, ../../scss/global/_base.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* Hand cursor on clickable input elements */
/* line 75, ../../scss/global/_base.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 78, ../../scss/global/_base.scss */
button, input, select, textarea {
  margin: 0;
}

/* Colors for form validity */
/* line 82, ../../scss/global/_base.scss */
input:invalid, textarea:invalid {
  -ms-border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px red;
  -webkit-box-shadow: 0 0 5px red;
  -o-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
}

/* line 95, ../../scss/global/_base.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* line 101, ../../scss/global/_base.scss */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 102, ../../scss/global/_base.scss */
::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* j.mp/webkit-tap-highlight-color */
/* line 105, ../../scss/global/_base.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
/* line 109, ../../scss/global/_base.scss */
button {
  width: auto;
  overflow: visible;
}

/**
----------------------------------------------------------------------------------------------------
 * Primary styles
 *
 * Author: ISOBAR
----------------------------------------------------------------------------------------------------*/
/* line 120, ../../scss/global/_base.scss */
body {
  background: white;
  color: #444444;
  min-width: 960px;
}

/* line 126, ../../scss/global/_base.scss */
figure {
  background: #f0f0f0;
  display: block;
  margin: 10px;
  padding: 1px;
  text-align: center;
  box-shadow: #cccccc 0 1px 3px;
  -moz-box-shadow: #cccccc 0 1px 3px;
  -webkit-box-shadow: #cccccc 0 1px 3px;
  -o-box-shadow: #cccccc 0 1px 3px;
}

/* line 136, ../../scss/global/_base.scss */
figure.extra {
  margin-top: 10px;
}

/* line 138, ../../scss/global/_base.scss */
figcaption {
  font-size: 10px;
  font-style: italic;
  text-align: left;
}

/* line 144, ../../scss/global/_base.scss */
abbr {
  border-bottom: 1px dotted;
}

/* line 146, ../../scss/global/_base.scss */
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 10px;
}

/* line 151, ../../scss/global/_base.scss */
p.indent {
  margin: 0 0 5px 0;
}

/* line 153, ../../scss/global/_base.scss */
dl {
  margin-left: 15px;
}

/* line 154, ../../scss/global/_base.scss */
dt {
  font-weight: bold;
}

/* line 155, ../../scss/global/_base.scss */
dt:after {
  content: ':';
}

/* line 156, ../../scss/global/_base.scss */
dd {
  margin-bottom: 10px;
}

/* line 158, ../../scss/global/_base.scss */
dd {
  margin-bottom: 10px;
}

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
/* line 7, ../../scss/global/_typography.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

/* Hack retained to preserve specificity */
/* line 8, ../../scss/global/_typography.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
/* line 12, ../../scss/global/_typography.scss */
pre, code, kbd, samp {
  font-family: Consolas, monaco, monospace;
}

/* line 14, ../../scss/global/_typography.scss */
small {
  font-size: 85%;
}

/* line 15, ../../scss/global/_typography.scss */
strong, th {
  font-weight: bold;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
/* line 18, ../../scss/global/_typography.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 19, ../../scss/global/_typography.scss */
sup {
  top: -0.5em;
}

/* line 20, ../../scss/global/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 22, ../../scss/global/_typography.scss */
pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
  background: #1e1e1e;
  color: white;
  padding: 10px;
  display: block;
  margin: 8px 0 20px 0;
  line-height: 1.2em;
}

/* line 34, ../../scss/global/_typography.scss */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444444;
  /* Set your base font here, to apply evenly */
  font-family: sans-serif;
  font-size: 16px;
}

/* line 43, ../../scss/global/_typography.scss */
p {
  margin: 0 0 10px 0;
}

/* line 47, ../../scss/global/_typography.scss */
p, ol, ul {
  font-size: 14px;
  line-height: 20px;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/
/* Headers (h1, h2, etc) have no default font-size or margin;define those yourself */
/* line 57, ../../scss/global/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  color: #f23109;
  position: relative;
  margin-top: 20px;
}

/* line 64, ../../scss/global/_typography.scss */
h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 66, ../../scss/global/_typography.scss */
h1 {
  color: black;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.1em;
  margin-bottom: 14px;
}

/* line 74, ../../scss/global/_typography.scss */
h2 {
  color: black;
  font-size: 24px;
  margin-bottom: 12px;
}

/* line 80, ../../scss/global/_typography.scss */
h3 {
  font-size: 20px;
  margin-bottom: 11px;
}

/* line 85, ../../scss/global/_typography.scss */
h4 {
  font-size: 18px;
  color: #999999;
  margin-bottom: 8px;
}

/* line 2, ../../scss/global/_links.scss */
a {
  color: black;
  /* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
}
/* line 5, ../../scss/global/_links.scss */
a:hover, a:active {
  outline: none;
}
/* line 8, ../../scss/global/_links.scss */
a:hover {
  color: #f74902;
}

/* Thanks for the icon! http://p.yusukekamiyamane.com/ */
/* line 16, ../../scss/global/_links.scss */
a[href^="https://wiki"],
a[href^="http://repo"],
a[href^="https://fusion"] {
  background: url(data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%0A%00%00%00%0A%08%06%00%00%00%8D2%CF%BD%00%00%00%A2IDAT%18%D3%7D%8C%A1%0E%C20%18%84%EF-x%0A%DEaOS%3B%89%22%A9Ba%90%0D%8E%A0%A6%96L%A1*%B0%0Bn%A0%96%60%B08%F4%F1_%C7%B2%84%26m%F2%25%97%FF%BE%1EHB%84%10*%83%7FTs%8F9x%EFiD%BF%3Cef%A2s%8E%867%F0Cy%11%C7%06%F1%D9%AD%D8l%40%CB%7C%0FuBY7ur%F08%EB%C3XD%0E%F4%EB%B2%03o%C7i%91%9F6%A1%AC%9B%3A9%B8%1E%AC%7C%D5E%E4%E4%8B%F7u%22%5Bl%B7V%F6e%E4h1v%1E%8C%7B%B0%0F%E0p%9AP%D6M%9D%9C%2F%FD%7C%0A%E2k%80%16%89%00%00%00%00IEND%AEB%60%82) no-repeat 0 3px;
  padding-left: 13px;
}

/* Logo + Container + Main + Section + Aside 
----------------------------------------------------------------------------------------------------*/
/* line 5, ../../scss/global/_layout.scss */
.container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* line 11, ../../scss/global/_layout.scss */
main {
  border-right: 1px #f0f0f0 solid;
  display: inline;
  float: left;
  overflow: hidden;
  padding: 50px 29px 60px 20px;
  width: 610px;
}

/* line 20, ../../scss/global/_layout.scss */
.nav-toc {
  display: inline;
  float: left;
  font-size: 13px;
  padding: 0 20px;
  width: 300px;
  position: relative;
}

/* line 29, ../../scss/global/_layout.scss */
main > section {
  padding-bottom: 20px;
}

/* Shoes + Footer
----------------------------------------------------------------------------------------------------*/
/* line 5, ../../scss/global/_footer.scss */
footer {
  background: #333333;
  color: white;
  font-size: 11px;
  margin: 0;
  overflow: hidden;
  line-height: 35px;
  width: 100%;
}

/* line 15, ../../scss/global/_footer.scss */
footer p {
  width: 960px;
  margin: 0 auto;
  padding: 5px 0;
}

/* `Topper + Header (who called it a topper in old version? lol)
----------------------------------------------------------------------------------------------------*/
/* line 5, ../../scss/global/_header.scss */
body .fork {
  position: fixed;
  top: 0;
  right: -15px;
  z-index: 2;
  width: 149px;
  height: 149px;
  background: url(../../img/fork-me.png) no-repeat -15px top;
}

/* line 15, ../../scss/global/_header.scss */
header {
  position: relative;
  border-top: 5px solid #f23109;
}

/* line 21, ../../scss/global/_header.scss */
header a {
  width: 137px;
  height: 39px;
  display: inline-block;
}

/* line 27, ../../scss/global/_header.scss */
header h1 {
  width: 137px;
  padding: 0;
  height: 40px;
  margin-left: 20px;
}

/* line 35, ../../scss/global/_header.scss */
header canvas {
  position: absolute;
  visibility: hidden;
  padding: 0;
  top: -40px;
}

/* line 42, ../../scss/global/_header.scss */
header h1 a {
  background: url("../../img/orange.svg") no-repeat 0 0;
  background-size: auto 100%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  display: block;
}

/* line 51, ../../scss/global/_header.scss */
header .social {
  /* background:rgba(64,64,64,0.9); */
  float: right;
  margin-bottom: 0;
  padding: 7px;
  position: absolute;
  right: 0;
  top: 1px;
  width: 304px;
  z-index: 1;
}

/* line 63, ../../scss/global/_header.scss */
header .social li {
  display: inline-block;
  height: 35px;
  margin-left: 6px;
  vertical-align: top;
}

/* line 70, ../../scss/global/_header.scss */
header .social li a {
  width: 35px;
  background: url("../../img/layout/sprite-social.png") no-repeat 0 0;
}

/* line 77, ../../scss/global/_header.scss */
header .social #facebook {
  background-position: -5px -5px;
}

/* line 78, ../../scss/global/_header.scss */
header .social #facebook:hover {
  background-position: -5px -47px;
}

/* line 80, ../../scss/global/_header.scss */
header .social #twitter {
  background-position: -46px -5px;
}

/* line 81, ../../scss/global/_header.scss */
header .social #twitter:hover {
  background-position: -46px -47px;
}

/* line 83, ../../scss/global/_header.scss */
header .social #delicious {
  background-position: -88px -5px;
}

/* line 84, ../../scss/global/_header.scss */
header .social #delicious:hover {
  background-position: -88px -47px;
}

/* line 86, ../../scss/global/_header.scss */
header .social #linkback {
  color: #4b4b4b;
  text-decoration: none;
  text-align: center;
  width: 110px;
  height: 15px;
  background: none;
}

/* line 95, ../../scss/global/_header.scss */
header .social #linkback:hover {
  color: #333333;
}

/* Alignments
----------------------------------------------------------------------------------------------------*/
/* line 6, ../../scss/global/_alignments.scss */
.box, .box_notice {
  background: #f0f0f0;
  margin: 0 0 20px;
  padding: 20px 20px 0.01em;
  box-shadow: #cccccc 0 1px 3px;
  -moz-box-shadow: #cccccc 0 1px 3px;
  -webkit-box-shadow: #cccccc 0 1px 3px;
  -o-box-shadow: #cccccc 0 1px 3px;
}

/* line 13, ../../scss/global/_alignments.scss */
.box_notice {
  background: #f23109;
  color: white;
}

/* line 18, ../../scss/global/_alignments.scss */
.box_title {
  background: #1e1e1e;
  background: rgba(10, 10, 10, 0.5);
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin: 20px;
  padding: 5px 10px;
}

/* Table of Contents
----------------------------------------------------------------------------------------------------*/
/* line 5, ../../scss/global/_table_of_contents.scss */
.anchor_link {
  color: rgba(137, 137, 137, 0.4);
  font-size: 20px;
  font-weight: normal;
  position: relative;
  text-decoration: none;
  top: 0;
  left: 5px;
  z-index: 100;
}

/* line 16, ../../scss/global/_table_of_contents.scss */
.back-anchor, .back-anchor a {
  display: inline-block;
  color: #333333;
  font-size: 12px;
  margin: 0;
  padding: 3px 4px;
  position: absolute;
  text-decoration: none;
}

/* line 26, ../../scss/global/_table_of_contents.scss */
.no-anchor .back-anchor {
  display: none;
}

/* @todo - temp style for nav to "work" */
/* line 29, ../../scss/global/_table_of_contents.scss */
.h3 {
  font-size: 90%;
  text-indent: 5%;
}

/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  /* line 8, ../../scss/global/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 10, ../../scss/global/_print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 11, ../../scss/global/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 12, ../../scss/global/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 13, ../../scss/global/_print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 14, ../../scss/global/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 15, ../../scss/global/_print.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 16, ../../scss/global/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 18, ../../scss/global/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 19, ../../scss/global/_print.scss */
  h2, h3 {
    page-break-after: avoid;
  }

  /* line 22, ../../scss/global/_print.scss */
  body {
    width: 80%;
    font-family: Calibri, Arial, Helvetica, sans-serif;
  }

  /* line 23, ../../scss/global/_print.scss */
  header {
    width: 100%;
  }

  /* line 25, ../../scss/global/_print.scss */
  .header-logo {
    background: url("../../img/logo-roundarchisobar.png") no-repeat 0 0;
  }

  /* line 31, ../../scss/global/_print.scss */
  h1, h2, h3 {
    /* color:#f30; */
    color: #F74902;
    position: relative;
    margin-top: 20px;
    font-weight: 200;
  }

  /* line 39, ../../scss/global/_print.scss */
  h1 {
    padding: 0;
    margin: 0;
    color: #00050a;
  }

  /* line 45, ../../scss/global/_print.scss */
  header h1 a {
    font-size: 48px;
  }

  /* line 49, ../../scss/global/_print.scss */
  a, a:visited {
    text-decoration: none;
    /* color:#f30 */
    color: #f74902;
  }

  /* line 55, ../../scss/global/_print.scss */
  body .fork, #side, header #social, canvas, .anchor_link, .back-anchor {
    visibility: hidden;
  }

  /* line 59, ../../scss/global/_print.scss */
  .syntaxhighlighter {
    background: #cccccc;
  }
}
/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */
@media all and (orientation: portrait) {
  /* Style adjustments for portrait mode goes here */
}
@media all and (orientation: landscape) {
  /* Style adjustments for landscape mode goes here */
}
/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none;-ms-text-size-adjust:none;} */
}
   /* 
   |\      _,,,---,,__
   /,`.-'`'     -.  ;-;;,_/|
  |,4-  ) ) -,_..;\ (  `'-'
 '---''(_/--'  `-'\_)  
----------------------------*/
