//todo: our best practices doc uses float_right? :(
/* Alignments
----------------------------------------------------------------------------------------------------*/

.align_right { text-align: right; }
.float_left { float: left; }
.float_right { float: right; }

.box, .box_notice {
	background: #f6f6f6;
	border: 1px solid;
	border-color: #ddd #ccc #999;
	box-shadow: #ccc 0 1px 3px;
	-moz-box-shadow: #ccc 0 1px 3px;
	-webkit-box-shadow: #ccc 0 1px 3px;
	margin: 0 0 20px;
	padding: 20px 20px 0.01em;
}

.box_notice { background: #ffd; }

.box_title {
	background: #777;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	margin: -19px -19px 20px;
	padding: 5px 10px;
	text-shadow: #000 0 1px 1px;
}

.normalize { margin-bottom: 5px; }