
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


.clearfix:before, .clearfix:after {
	content: "\0020"; display: block; height: 0; visibility: hidden;
}
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }