$highlight-color: #ff9;
$black: #000;
$border-color: #ccc;

/*
 	ISOBAR COLORS
	--------------------
	#036 - dark blue
	#06c - blue
	#066 - greenish
	#F30 - orange
	#444 - dark gray
	#dcdcdc - light gray
	
*/
$dark-blue:#036;
$blue: #06c;
$greenish: #066;
$orange: #F30;
$dark-gray: #444;
$light-gray: #dcdcdc;