
/* Shoes + Footer
----------------------------------------------------------------------------------------------------*/

footer {
	background: $dark-gray;
	color: $white;
	font-size: 11px;
	margin: 0;
	overflow: hidden;
	line-height: 35px;
	width: 100%;
	padding: 20px 0px;
}

footer p {
	width: 960px;
	margin: 0px 0px 0px 20%;
	padding: 10px 0px;
}

