
/* Shoes + Footer
----------------------------------------------------------------------------------------------------*/

footer {
	background: #3d3d3d;
	color: #fff;
	font-size: 11px;
	margin: 0;
	overflow: hidden;
	line-height: 35px;
	width: 100%;
}

footer p {
	width: 960px;
	margin: 0 auto;
	padding: 5px 0;
}
