
/* `Topper + Header (who called it a topper in old version? lol)
----------------------------------------------------------------------------------------------------*/

body .fork { 
	position: fixed; 
	top: 0; 
	right: -15px; 
	z-index: 2; 
	width: 149px; 
	height: 149px; 
	background: url(../../img/fork-me.png) no-repeat -15px top;
}

header { 
	height: 60px;
	width: 100%;
	position: relative;
	border-bottom: 3px solid #eee;
}

header a { 
	width: 137px;
	height: 39px;
	display: inline-block;
}

header h1 {
	position: absolute;
	top: 60px;
	width: 137px;
	padding: 0;
	height: 40px;
}

header canvas {
	position: absolute;
	visibility: hidden;
	padding: 0;
	top: -40px;
}

header h1 a {
    display: block;
    height: 70px;
    position: absolute;
    text-indent: -9999em;
	width:365px
}

header h1 a { 
	background:url("../../img/logo-roundarchisobar.png") no-repeat 0 0;
    position: absolute;
	text-indent: -9999em;
    height: 70px;
	width:365px;
	display:block;
}

header #social {
	/* background:rgba(64,64,64,0.9); */
    float: right;
    margin-bottom: 0;
    padding: 7px;
    position: absolute;
    right: 0;
    top: 1px;
    width: 304px;
    z-index: 1;
}

header #social li {
    display: inline-block;
    height: 35px;
    margin-left: 6px;
    vertical-align: top;
}

header #social li a { 
	width: 35px; 
	background: url('../../img/layout/sprite-social.png') no-repeat 0 0;
}

header #social #facebook { background-position: -5px -5px; }
header #social #facebook:hover { background-position: -5px -47px; }

header #social #twitter { background-position: -46px -5px; }
header #social #twitter:hover { background-position: -46px -47px; }

header #social #delicious { background-position: -88px -5px; }
header #social #delicious:hover { background-position: -88px -47px; }

header #social #linkback { 
	color: #ccc; 
	font-family: Georgia, serif; 
	font-size: 12px; 
	font-style: italic; 
	text-decoration: none; 
	text-align: center; 
	width:110px;
	height: 15px; 
	background: none;
}

header #social #linkback:hover { color: #dcdcdc; }
