.intro { 
	min-height: 120px; 
	border-bottom: 1px #dcdcdc solid;
	margin-bottom: 20px;	
}

.intro .icon {
	border-radius: 100px; 
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-o-border-radius: 100px;
	height: 100px;
	width: 100px;
	/* background: #f30; */
	background:#F74902;
	float: left;
	display: inline;
	margin: 0 20px 20px 0;
}

div.intro h1, div.intro h2,
div.intro p, div.intro ol  { margin-left: 120px; }

div.intro ol, div.intro ul  { list-style-position: inside; }

