
/* Logo + Container + Main + Section + Aside 
----------------------------------------------------------------------------------------------------*/

#container { 
	width: 960px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

#main {
	border-right: 1px #dcdcdc solid;
	display: inline;
	float: left;
	overflow: hidden;
	padding: 50px 29px 60px 0;
	width: 610px;
}

#side {
	display: inline;
	float: left;
	font-size: 13px;	
	padding: 0;
	width: 300px;
	position: relative;
}

#main > section {
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 20px;
}

#main > section { padding-bottom: 20px; }

#main > section:last-child, #container > aside:last-child {
	border-bottom: none;
}

#main > section article {
	border-bottom: 1px #dcdcdc solid;
	margin-bottom: 20px;
}