
/* Logo + Container + Main + Section + Aside 
----------------------------------------------------------------------------------------------------*/

.container { 
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

main {
	border-right: 1px $border-color solid;
	display: inline;
	float: left;
	overflow: hidden;
	padding: 50px 29px 60px 20px;
	width: 610px;
}

.nav-toc {
	display: inline;
	float: left;
	font-size: 13px;	
	padding: 0 20px;
	width: 300px;
	position: relative;
}

main > section { padding-bottom: 20px; }
