@import '../helpers/variables';
@import '../helpers/mixins';
/* Logo + Container + Main + Section + Aside 
----------------------------------------------------------------------------------------------------*/
#grey-overlay{
position: fixed;
height: 100%;
width: 100%;
top: 0px;
left: 0px;
background-color: rgba(0,0,0,0.8);
z-index:1;
display: none;
}
.menu-open #grey-overlay{
display: block;
}
.box-sizing{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.container { 
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	max-width: 970px;
}
main {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	/*float: left;*/
	overflow: hidden;
	padding: 10px 20px 60px 20px;
	max-width: 620px;
	width: 66%;
	float: left;
	
}
body.tablet main{
padding: 20px;
width: 100%;
}
body.tablet.mobile main{
padding: 10px;
}
body.tablet{
	min-width:320px;
	border-top: 90px solid #f5f5f5;
}
.tablet main {
	margin-left: 0px;
	width: auto;
	padding: 10px 29px 60px 30px;
	float: none;
}
.nav-toc {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 100%;
	z-index: 3;
	display: block;
	position: relative;
	font-size: 13px;	
	padding: 20px 20px;
	width: 33.33%;
	max-width: 340px;
	height: 100%;
	top: 0px;
	left: 0px;
	float: right;
	background-color: #ffffff;
	-webkit-transition: right .5s;
	-moz-transition: right .5s;
	transition: right .5s;
}
.tablet .nav-toc{
	width: 250px;
	right: -250px;
	left: auto;
	float: none;
	position:fixed;
	z-index:4;
	overflow-y: scroll;
	border-top: 90px solid #f5f5f5;
}
.tablet.menu-open .nav-toc{
	right: 0px;
}

main > section { padding-bottom: 20px; }

#toc{
	.h2{
		margin-top: 20px;
	}
	.h2:nth-child{
		margin-top: 0px;
	}
	.h3{
		margin-top: 6px;
	}
}
