
/* Logo + Container + Main + Section + Aside 
----------------------------------------------------------------------------------------------------*/

.box-sizing{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.container { 
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
main {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	float: left;
	overflow: hidden;
	padding: 10px 29px 60px 30px;
	max-width: 1200px;
	width: 100%;
	padding: 10px 29px 60px 280px;
}
body.tablet{
	min-width:320px;
}
.tablet main {
	margin-left: 0px;
	width: auto;
	padding: 10px 29px 60px 30px;
}
.nav-toc {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	position: absolute;
	font-size: 13px;	
	padding: 20px 20px;
	width: 250px;
	max-width: 340px;
	height: 100%;
	top: 95px;
	left: 0px;
	background-color: #f5f5f5;
	-webkit-transition: left .5s;
	-moz-transition: left .5s;
	transition: left .5s;
}
.tablet .nav-toc{
	width: 250px;
	left: -250px;
}
.tablet.menu-open .nav-toc{
	left: 0px;
}

main > section { padding-bottom: 20px; }
