@import '../helpers/variables';
@import '../helpers/mixins';
a { 
  color: $link-color; 
  /* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
  &:hover, &:active {
    outline: none;
  }
  &:hover {
    color: $link-hover-color;
  }
}

