
a { color: #f30; /* #09f */ }

a:hover { color: #333; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }
/* Thanks for the icon! http://p.yusukekamiyamane.com/ */
a[href^="https://wiki"], a[href^="http://repo"], a[href^="https://fusion"] { background:  url(data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%0A%00%00%00%0A%08%06%00%00%00%8D2%CF%BD%00%00%00%A2IDAT%18%D3%7D%8C%A1%0E%C20%18%84%EF-x%0A%DEaOS%3B%89%22%A9Ba%90%0D%8E%A0%A6%96L%A1*%B0%0Bn%A0%96%60%B08%F4%F1_%C7%B2%84%26m%F2%25%97%FF%BE%1EHB%84%10*%83%7FTs%8F9x%EFiD%BF%3Cef%A2s%8E%867%F0Cy%11%C7%06%F1%D9%AD%D8l%40%CB%7C%0FuBY7ur%F08%EB%C3XD%0E%F4%EB%B2%03o%C7i%91%9F6%A1%AC%9B%3A9%B8%1E%AC%7C%D5E%E4%E4%8B%F7u%22%5Bl%B7V%F6e%E4h1v%1E%8C%7B%B0%0F%E0p%9AP%D6M%9D%9C%2F%FD%7C%0A%E2k%80%16%89%00%00%00%00IEND%AEB%60%82) no-repeat 0 3px; padding-left: 13px; }
