
/* `Tabs
----------------------------------------------------------------------------------------------------*/

#criteria_options {
	list-style: none;
	overflow: hidden;
}

#criteria_options li {
	float: left;
	margin: 0;
}

#criteria_options a {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	display: block;
	font-weight: bold;
	outline: 0;
	padding: 5px 15px;
}

#criteria_options a:hover {
	background: #eeeee0;
	color: #000;
	text-decoration: none;
}

#criteria_options a.current {
	background: #069;
	color: #fff;
	text-decoration: none;
}

