
/* Table of Contents
----------------------------------------------------------------------------------------------------*/

#side .toc-title {
	border-bottom: 1px solid gainsboro;
	/* border-top:10px solid #f30; */
	border-top: 10px solid #F74902;
	font-family: 'Calibri','AlexandriaBold';
	font-size: 30px;
	padding: 15px 0 6px 20px;
	position: fixed;
	top:30px;
	width: 300px;
	z-index: 0;
}

#toc {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 125px;
	width: 300px;
}

#toc li {
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
	width: 100%;
}

#toc li a {
    color: #3D3D3D;
    display: block;
    text-decoration: none;
}
#toc li a:hover {
	cursor: pointer; 
	background: hsla(0, 0%, 40%, 1); 
	color: #fff; 
	text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
}

#toc .h1 {
    background: #eee;
    color: #333;
    font-size: 18px;
    list-style-type: none;
    width: 320px;
}
#toc .h1 a { padding: 2px 0 2px 20px; }

#toc .h2 {
	list-style: none;
	font-size: 16px;
    width: 320px;
}
#toc .h2 a { padding: 0 0 0 30px; }

#toc .h3 {
	margin-left: 10px;
	display: none;
}

#toc .h4 {
	margin-left: 25px;
	display: none;
}

#toc .h5 {
	margin-left: 35px;
	display: none;
}

.anchor_link {
    color: rgba(137, 137, 137, 0.4);
    font-size: 20px;
    font-weight: normal;
    position: relative;
    text-decoration: none;
    top: 0;
    left: 5px;
    z-index: 100;
}

.backAnchor, .backAnchor a {
    display: inline-block;
	color: #999;
    font-size: 12px;
    margin: 0;
	padding: 3px 4px;
    position: absolute;
    text-decoration: none;
    right: 5px;
    top: -25px;
}

.no-anchor .backAnchor { display: none; }