/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font: 13px/1.231 Helvetica, Arial, MS Trebuchet, sans-serif; *font-size: small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font: 99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px;
}


body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif; */
  /* if using @font-face: */
  /* font-family: MyFontFamily, Arial, serif;*/
  font-family: Calibri, Helvetica, Trebuchet MS, Arial, sans-serif;//todo: why are we setting this then resetting?
  font-size: 16px;
}


p {
	margin: 0 0 10px 0;
}

p, ol, ul {
	font-size: 14px;
	line-height: 20px;
}


/* `Headings
----------------------------------------------------------------------------------------------------*/

/* Headers (h1, h2, etc) have no default font-size or margin;define those yourself */
h1, h2, h3, h4, h5, h6 { 
	/* color:#f30; */
	color:#F74902;
	position: relative;
	margin-top:20px
}

h3, h4, h5, h6 { font-weight: normal; }

h1 {
	color: #000;
	font-size: 34px;	
	font-weight: 700;
	font-family: Calibri, AlexandriaBold, Arial, Helvetica, sans-serif;
	line-height: 1.1em;
	margin-bottom: 14px;
}

h2 {
	color: #000;
	font-size: 24px;
	margin-bottom: 12px;
}

h3 {
	font-size: 22px;
	margin-bottom: 11px;
}

h4 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	font-weight: 400;
	color: #555;
	margin-bottom: 8px;
}

//todo: how is preCode used? does it belong in typography?
h6, figure.preCode {
	background: #eeeee0;
	color: #333;
	font-size: 14px;
	margin-bottom: 0;
	padding: 5px 10px;
}

figure.preCode {
	border: none;
	display: block;
	margin: 8px 0 0 0;
	text-align: inherit;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
}


p code, li code, table code {
    background: #FF9;
    font-family: Courier New, Courier, monospace;
    font-size: 12px;
}