@import '../helpers/variables';
@import '../helpers/mixins';
//todo: cleanup
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }


body { width: 80%; font-family: Calibri, Arial, Helvetica, sans-serif; }
header { width: 100%; }

  .header-logo{
    background:url("../img/logo-roundarchisobar.png") no-repeat 0 0
  }

h1, h2, h3, h4, h5, h6 { }

h1, h2, h3 {
    /* color:#f30; */
    color:#F74902;
  position: relative;
  margin-top: 20px;
    font-weight:200
}

  h1{
    padding:0;
    margin:0;
    color:#00050a
  }
 
  header h1 a{
    font-size:48px
  }

  a,a:visited{
    text-decoration:none;
    /* color:#f30 */
    color:#F74902
  }

  body .fork,#side,header #social,canvas,.anchor_link,.back-anchor{
    visibility:hidden
  }

  .syntaxhighlighter{
    background:#ccc
  }

}