//colors
$isobar-orange: #f23109;
$link-color: #000;
$link-hover-color: $isobar-orange;

$highlight-color: #ff9;
$white: #fff;
$black: #000;
$border-color: #f0f0f0;//todo: confirm is correct color for borders
$shadow-color: #ccc;


//fonts
$font-stack: sans-serif;
$heading-font-stack: 'KyrialDisplayProRegular',sans-serif;
$pre-font-stack: Consolas, monaco, monospace;